@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body{
  margin:0;
  box-sizing: border-box;
  background-color: #F7F7F7;
  font-family: 'Mukta', sans-serif;
}